<div id="context1" class="outer">
  <div class="inner_fixed">
    <app-header [fontFamily]='fontFamilyParam' (changeSize)="changeSize($event)"
                [fontSize]='fontSizeParam'></app-header>
  </div>

  <div class="inner_remaining">
    <div class="container">
      <h1 class="color-vertUrbilog mt-5" [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'"
          [ngStyle]="{'font-size':fontSizeParam+20+'px'}">UN AVIS D'EXPERT SUR VOTRE SITE ?</h1>
      <hr class="bar background-vertUrbilog mb-5">
      <div class="row ml-4 mr-4 mb-4">
        <h2 class="mb-4 color-vertUrbilog" [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'"
            [ngStyle]="{'font-size':fontSizeParam+3+'px'}">Pourquoi demander un avis d'expert sur votre site ?</h2>
        <p [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
           [ngStyle]="{'font-size':fontSizeParam+'px'}">
			Votre site internet est votre vitrine, visible par tous et de partout dans le monde. Il est important que votre site internet vous représente. Au delà de l’aspect esthétique, l’aspect pratique de l’utilisation de votre site internet compte aussi.<br><br>
			Nos experts, formés à l’accessibilité numérique depuis de nombreuses années, sauront déceler efficacement toutes les problématiques de votre site internet, ciblant ainsi leurs résolutions autant sur le plan pratique qu’esthétique. Leur savoir faire est incommensurable et leur expertise, un réel atout pour votre entreprise.<br><br> 
			De plus, nos experts travaillants sur le projet de loi RGAA en lien direct avec le ministère, votre mise en conformité à l'accessibilité numérique de votre site internet sera sans faille
		   </p>
      </div>
      <div class="row ml-4 mr-4 mb-4">
        <h2 class="mb-4 color-vertUrbilog" [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'"
            [ngStyle]="{'font-size':fontSizeParam+3+'px'}">Quels bénéfices ?</h2>
        <p [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
           [ngStyle]="{'font-size':fontSizeParam+'px'}">
			Faire confiance à nos experts pour n’en tirer que des bénéfices !<br><br>
			Premièrement, votre site internet sera accessible par tous, ce qui facilitera sa visibilitée et donc  sa notoriété. N’oublions pas qu’un site internet lisible par des personnes en situation de handicap ne sera que plus facile à utiliser et comprendre par tous !<br><br>
			Deuxièmement, vous respecterez la loi. En effet, la loi RGAA entrant en vigueur en 2019 demande à toutes les entreprises ayant plus de 250 000€ de CA annuel de se mettre en conformité. Votre entreprise n’est pas concernée ? L’accessibilité numérique de votre site internet est tout de même important, puisqu’au delà de l’aspect légal, vous vous positionnez en force moral pour votre entreprise, permettant à votre visibilitée d’être plus importante.
		   </p>
      </div>
      <form (ngSubmit)="onSubmit(hostname,email,phonenumber,comment)">
        <div class="row ml-4 mr-4 mb-5" style="border: black 1px solid">
          <div class="col-6 pl-5 mt-5 mb-5">
            <div class="row mb-3">
              <h2 class="color-vertUrbilog" [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'"
                  [ngStyle]="{'font-size':fontSizeParam+2+'px'}">Envoyer votre demande d'audit pour votre site :</h2>
            </div>
            <div class="row mb-4">
              <label class="col-12 mb-4" for="hostname"
                     [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">Nom de
                domaine :</label>
              <input class="col-10 offset-1 p-1" type="text" id="hostname" #hostname required>
            </div>
            <div class="row mb-4">
              <label class="col-12 mb-4" for="email"
                     [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">Mail de
                contact :</label>
              <input class="col-10 offset-1 p-1" type="email" id="email" #email required>
            </div>
            <div class="row mb-4">
              <label class="col-12 mb-4" for="phonenumber"
                     [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">N° de
                téléphone :</label>
              <input class="col-10 offset-1 p-1" type="tel" id="phonenumber" size="10" #phonenumber required>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-xl-5 mb-5">
              <label class="col-12 mt-5 mb-4" for="comment"
                     [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">Commentaires :</label>
              <textarea class="col-10 offset-1 p-1" id="comment" rows="7" #comment></textarea>
            </div>
            <div class="row">
              <button type="submit" class="btn sendForm pt-2 pb-2 pl-3 pr-3 background-vertUrbilog"
                      style="width: 75%;" [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
                      [ngStyle]="{'font-size':fontSizeParam-2+'px'}">ENVOYER
              </button>
            </div>
          </div>
          <div *ngIf="message!==''" class="container-fluid">
            <div class="row">
              <ng-template [ngIf]="message.charAt(0) == '2'" [ngIfElse]="error">
                <div class="alert alert-success bannerAudit" role="alert">
                  {{message.substring(2, message.length)}}
                </div>
              </ng-template>
              <ng-template #error>
                <div class="alert alert-danger bannerAudit" role="alert">
                  {{message.substring(2, message.length)}}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<span *ngIf="!getIsMobileResolution; else mobileVersion">
  <div id="circle"></div>
  <app-link-bar [param]='true' [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-link-bar>
  <app-footer id="context2" [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
            [fontFamily]='fontFamilyParam'></app-footer>
</span>

<ng-template #mobileVersion>
  <app-footer-responsive [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
                         [fontFamily]='fontFamilyParam'></app-footer-responsive>
</ng-template>
