.bar {
  height: 0.15em;
}

.sendForm {
  margin: auto;
  color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 20px grey;
}

.sendForm:hover {
  background-color: #06706a;
}

.bannerAudit {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
