<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
 	http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- Placeholder configuration -->
	<bean id="placeHolder"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- Valeur par défaut : fichier du projet -->
				<value>classpath:/rgaa-*.properties</value>
				<!-- Surcharge des valeurs par défaut -->
				<value>file:${RGAA_CONFIG}/rgaa-*.properties
				</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="localOverride" value="true" />
	</bean>


	<import resource="classpath:/spring/applicationContext-core.xml" />
	<import resource="classpath:/spring/applicationContext-jpa.xml" />
	<import resource="classpath:/spring/applicationContext-mvc.xml" />
	<import resource="classpath:/spring/applicationContext-security.xml" />

	<context:component-scan
		base-package="com.urbilog.rgaa.middleware" />
	<context:annotation-config />

</beans>

