<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:ldap="http://www.springframework.org/schema/ldap"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">


	<bean id="crypt"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<security:http entry-point-ref="unauthorizedEntryPoint"
			create-session="stateless">
			<security:custom-filter
				ref="authenticationTokenProcessingFilter" position="PRE_AUTH_FILTER" />
	
			<security:intercept-url pattern="/rest/login**"
				access="isAnonymous()" />
			<security:intercept-url pattern="/assets/**"
				access="isAnonymous()" />
			<security:intercept-url
				pattern="/rest/swagger-ui.html" access="isAnonymous()" />
			<security:intercept-url
				pattern="/rest/swagger-ui.html#/**" access="isAnonymous()" />
			<security:intercept-url
				pattern="/rest/v2/api-docs" access="isAnonymous()" />
			<security:intercept-url
				pattern="/rest/swagger-resources/**" access="isAnonymous()" />
			<security:intercept-url
				pattern="/rest/webjars/**" access="isAnonymous()" />
			<security:intercept-url pattern="/rest/ref/**"
				access="isAnonymous()" />
			<security:intercept-url pattern="/**"
				access="isAnonymous()" method="OPTIONS" />
			<security:intercept-url pattern="/rest/dataConsultation"
				access="hasRole('ROLE_ADMIN')" method="GET" />
			<security:intercept-url pattern="/rest/**"
				access="isAnonymous()" method="GET" />
	
			<security:csrf disabled="true" />
			<security:form-login
				login-processing-url="/rest/login" username-parameter="username"
				password-parameter="password"
				authentication-success-handler-ref="handlerSuccess"
				authentication-failure-handler-ref="handlerFailure" />
		</security:http>
	
		<security:authentication-manager
			alias="authenticationManager">
			<security:authentication-provider
				ref="customAuthenticationProvider" />
		</security:authentication-manager>

</beans>