<div class="container-fluid">
  <header>
    <div class="row py-2">
      <div class="text-right mr-2 font-weight-bold container-fluid">
        <a class="button-start" style="font-size: large" (click)="changeSizeFont(1)">A+</a>
        <span class="no-select" style="font-size: large"> / </span>
        <a class="button-start" style="font-size: large" (click)="changeSizeFont(-1)">A-</a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 p-0">
        <nav style="min-height: 127px;" class="navbar navbar-expand-lg navbar-dark background-bleuUrbilog shadownavbar">
          <a class="navbar-brand no-select brandImg" href="#" (click)="redirectTo('home')">
            <img src="./assets/img/logoUrbilogBlanc.png" alt="RGAA Urbilog Certification et Accessibilité - Liens vers la page d'accueil" class="img-fluid" style="cursor: pointer">
          </a>
          <span *ngIf="notOnHome()">
          <button class="navbar-toggler" type="button"
                  (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse"
               [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav ml-auto mr-auto">
              <li class="nav-item pointer background-bleucielUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav" >
                <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                   [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" (click)="redirectTo('reforme')">La
                  loi RGAA</a>
              </li>

              <li class="nav-item pointer background-bordUrbilog pr-3 pl-3 pt-2 pb-2 m-3 itemdenav">
                <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                   [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" (click)="redirectTo('formatage')">Vos fichiers accessibles</a>
              </li>

              <li class="nav-item pointer background-vertUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav" [ngClass]="contrastedMode?'background-vertUrbilogContrasted':'background-vertUrbilog'">
                <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                   [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
                   (click)="redirectTo('audit')">Avis d'expert</a>
              </li>

              <li class="nav-item pointer background-orangeUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav" [ngClass]="contrastedMode?'background-orangeUrbilogContrasted':'background-orangeUrbilog'">
                <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                   [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" (click)="redirectTo('whoweare')">Qui
                  sommes-nous ?</a>
              </li>
            </ul>
          </div>
        </span>
        </nav>
      </div>
    </div>
  </header>
</div>
