<div class="container-fluid">

  <div class="row py-2">
    <div class="text-right mr-2 font-weight-bold container-fluid">
      <!--<span class="boutonFont no-select" [ngStyle]="{'font-size': fontSizeAdapted}" (click)="changeSizeFont(1)">A+</span>-->
      <span class="no-select button-start" style="font-size: large" (click)="changeSizeFont(1)">A+</span>
      <span class="no-select" style="font-size: large"> / </span>
      <!--<span class="boutonFont no-select" [ngStyle]="{'font-size': fontSizeAdapted}" (click)="changeSizeFont(-1)">A-</span>-->
      <span class="no-select button-start" style="font-size: large" (click)="changeSizeFont(-1)">A-</span>
    </div>
  </div>

  <div class="row background-bleuUrbilog mb-5">
    <div class="col-3 offset-1">
      <img src="assets/img/logoUrbilogBlanc.png" alt="" class="no-select img-fluid" (click)="redirectTo('home')" style="cursor: pointer">
    </div>
    <div *ngIf="notOnHome()" class="col-7">
      <app-collapse-menu  [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-collapse-menu>
    </div>
  </div>

</div>
