<div class="container-fluid">

  <div class="row py-2">
    <div class="text-right mr-2 font-weight-bold container-fluid">
      <span class="no-select button-start" style="font-size: large" (click)="changeSizeFont(1)">A+</span>
      <span class="no-select" style="font-size: large"> / </span>
      <span class="no-select button-start" style="font-size: large" (click)="changeSizeFont(-1)">A-</span>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 p-0">
      <nav class="navbar navbar-expand-lg navbar-dark background-bleuUrbilog shadownavbar">
        <a class="navbar-brand no-select brandImg" href="#" (click)="redirectTo('home')">
          <img src="./assets/img/logoUrbilogBlanc.png" alt="" class="img-fluid" style="cursor: pointer">
        </a>

        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item pointer background-bleucielUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav">
              <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" href="">La réforme RGAA</a>
            </li>

            <li class="nav-item pointer background-bordUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav">
              <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" href="#">Formater vos fichiers</a>
            </li>

            <li class="nav-item pointer background-vertUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav">
              <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" href="#">Audit</a>
            </li>

            <li class="nav-item pointer background-orangeUrbilog pr-4 pl-4 pt-2 pb-2 m-3 itemdenav">
              <a class="nav-link pointer liendenav" [ngStyle]="{'font-size':fontSizeParam+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'" href="#">Qui sommes-nous ?</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
