.block {
  color: white;
  /*box-shadow: 5px 5px 20px black;*/
  /*transition: height 0.50s ease-in;*/
}

.m-r {
  margin-right: 5%;
}

.text-menu {
  text-align: right;
  top: 50%;
  margin-top: 0.75em;
}
