.block {
  width: 22%;
  cursor: pointer;
  color: white;
  height: fit-content;
  box-shadow: 5px 5px 20px grey;
}

.m-r {
  margin-right: 3%;
}

.text-menu {
  text-align: right;
}

.img {
  transition: height 0.20s ease-in;
}
