<div class="row">
  <div class="col-3">
    <div class="block background-bleucielUrbilog pointer pt-2 pb-2 no-select" (click)="redirectTo('reforme')">
      <p class="text-menu m-r mb-0" [ngClass]="fontFamily?'myMyriadProFont':'openDyslexicFont'"
         [ngStyle]="{'font-size':fontSizeAdapted+'px'}">La réforme RGAA</p>
    </div>
  </div>
  <div class="col-3">
    <div class="block background-bordUrbilog pointer pt-2 pb-2 no-select" (click)="redirectTo('formatage')">
      <p class="text-menu m-r mb-0" [ngClass]="fontFamily?'myMyriadProFont':'openDyslexicFont'"
         [ngStyle]="{'font-size':fontSizeAdapted+'px'}">Formater vos fichiers</p>
    </div>
  </div>
  <div class="col-3">
    <div class="block background-vertUrbilog pointer pt-2 pb-2 no-select" (click)="redirectTo('audit')">
      <p class="text-menu m-r mb-0" [ngClass]="fontFamily?'myMyriadProFont':'openDyslexicFont'"
         [ngStyle]="{'font-size':fontSizeAdapted+'px'}">Audit</p>
    </div>
  </div>
  <div class="col-3">
    <div class="block background-orangeUrbilog pointer pt-2 pb-2 no-select" (click)="redirectTo('whoweare')">
      <p class="text-menu m-r mb-0" [ngClass]="fontFamily?'myMyriadProFont':'openDyslexicFont'"
         [ngStyle]="{'font-size':fontSizeAdapted+'px'}">Qui sommes-nous ?</p>
    </div>
  </div>
</div>

