<div id="context1" class="outer">
  <div class="inner_fixed">
    <app-header [fontFamily]='fontFamilyParam' (changeSize)="changeSize($event)" [contrastedMode]="contrastedMode"
                [fontSize]='fontSizeParam'></app-header>
  </div>

  <div class="inner_remaining">
    <div class="container">
      <h1 class="color-bordUrbilog mt-5" [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'"
          [ngStyle]="{'font-size':fontSizeParam+20+'px'}">RENDRE ACCESSIBLE VOS FICHIERS ?</h1>
      <hr class="bar background-bordUrbilog mb-5">
      <div class="row ml-4 mr-4 mb-5" [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
           [ngStyle]="{'font-size':fontSizeParam-1+'px'}">
        <div class="col-12 p-0">
          <p [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
             [ngStyle]="{'font-size':fontSizeParam+'px'}">
			Vous avez besoin de rendre des fichiers accessibles, qu’ils soient à un usage interne ou externe ? Nous avons la solution idéal et rapide, pour vous satisfaire.<br><br>
			Vos documents doivent être lisibles et compréhensibles par tous. Par vos collaborateurs, afin de pouvoir s’épanouir pleinement et sans difficultés dans leurs tâches quotidiennes. Par vos clients, afin de ne pas perdre de parts de marché.<br><br>
			Envoyez nous via cet outils votre fichier, en format word, powerpoint, ou pdf. Nous analysons votre demande afin de vous apporter un devis qui correspond à votre besoin.<br><br>
			Nous restons également à votre disposition via notre page de contact si vous avez des interrogations supplémentaires !
			 </p>
        </div>
      </div>
      <div *ngIf="!getIsMobileResolution; else mobileVersion3">
        <form (ngSubmit)="onSubmit(name,email,phonenumber)">
          <div class="row ml-4 mr-4 mb-5" style="border: black 1px solid">
            <div class="col-6 pl-5 mt-5 mb-5">
              <div class="row mb-3">
                <h2 class="color-bordUrbilog" [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'"
                    [ngStyle]="{'font-size':fontSizeParam+2+'px'}">Envoyer votre demande de formatage de fichier :</h2>
              </div>
              <div class="row mb-4">
                <label class="col-12 mb-4" for="name"
                       [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">Nom et Prénom de contact :</label>
                <input class="col-10 offset-1 p-1" type="text" id="name" #name required>
              </div>
              <div class="row mb-4">
                <label class="col-12 mb-4" for="email"
                       [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">Mail de
                  contact :</label>
                <input class="col-10 offset-1 p-1" type="email" id="email" #email required>
              </div>
              <div class="row mb-4">
                <label class="col-12 mb-4" for="phonenumber"
                       [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">N° de
                  téléphone :</label>
                <input class="col-10 offset-1 p-1" type="tel" id="phonenumber" size="10" #phonenumber required>
              </div>
            </div>
            <div class="col-6 pl-5 mt-5 mb-5">
              <span *ngIf="!getIsMobileResolution; else mobileVersion2">
                <div class="row" style="height: 50%">
                  <div class="col-6 text-center my-auto">
                    <input (change)="fileSelected($event)" type="file" id="file" accept=".doc,.docx,txt"
                           style="display: none"/>
                    <label for="file" class="btn uploadFileNameBtn-action pt-2 pb-2 pl-5 pr-5"
                           [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
                           [ngStyle]="{'font-size':fontSizeParam-2+'px'}">Choisir un fichier
                    </label>
                  </div>
                  <div class="col-6 text-center my-auto uploadFileNameText">
                    <span [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
                          [ngStyle]="{'font-size':fontSizeParam-2+'px'}">{{uploadFileName}}</span>
                  </div>
                </div>
                <div class="row">
                  <button type="submit" class="btn sendForm pt-2 pb-2 pl-3 pr-3 background-bordUrbilog"
                          style="width: 75%;" [ngClass]="{'myMyriadProFont':fontFamilyParam,'openDyslexicFont':!fontFamilyParam,'not-allowed':this.currentFileUpload == undefined,'pointer':this.currentFileUpload != undefined}"
                          [ngStyle]="{'font-size':fontSizeParam-2+'px'}">UPLOAD
                  </button>
                </div>
              </span>
              <ng-template #mobileVersion2>
                <div style="position: relative;height: 100%">
                  <div style="position: absolute;top: 50%;transform: translateY(-50%);">
                    <div class="row mt-4 mb-4">
                      <div class="col-12 text-center">
                        <input (change)="fileSelected($event)" type="file" id="file2" accept=".doc,.docx,txt"
                               style="display: none"/>
                        <label for="file" class="btn uploadFileNameBtn-action pt-2 pb-2 pl-4 pr-4"
                               [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
                               [ngStyle]="{'font-size':fontSizeParam-2+'px'}">Choisir un fichier
                        </label>
                      </div>
                    </div>
                    <div class="row mt-4 mb-4">
                      <div class="col-12 text-center uploadFileNameText">
                        <span [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
                              [ngStyle]="{'font-size':fontSizeParam-2+'px'}">{{uploadFileName}}</span>
                      </div>
                    </div>
                    <div class="row mt-4 mb-4">
                      <button type="submit" class="btn sendForm pt-2 pb-2 pl-3 pr-3 background-bordUrbilog" (click)="display()"
                              style="width: 75%;" [ngClass]="{'myMyriadProFont':fontFamilyParam,'openDyslexicFont':!fontFamilyParam,'not-allowed':this.currentFileUpload == undefined,'pointer':this.currentFileUpload != undefined}"
                              [ngStyle]="{'font-size':fontSizeParam-2+'px'}">UPLOAD
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div *ngIf="message!==''" class="container-fluid">
              <div class="row">
                <ng-template [ngIf]="message.charAt(0) == '2'" [ngIfElse]="error">
                  <div class="alert alert-success bannerAudit" role="alert">
                    {{message.substring(2, message.length)}}
                  </div>
                </ng-template>
                <ng-template #error>
                  <div class="alert alert-danger bannerAudit" role="alert">
                    {{message.substring(2, message.length)}}
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template #mobileVersion3><ngb-alert>Indisponible sur mobile pour le moment</ngb-alert></ng-template>
    </div>
  </div>
</div>
<div id="circle"></div>
<span *ngIf="!getIsMobileResolution; else mobileVersion">
  <app-link-bar [param]='true' [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-link-bar>
  <app-footer id="context2" [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
              [fontFamily]='fontFamilyParam' (changeContrasted)="changeContrasted($event)"></app-footer>
</span>

<ng-template #mobileVersion>
  <app-footer-responsive [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
                       [fontFamily]='fontFamilyParam' (changeContrasted)="changeContrasted($event)"></app-footer-responsive>
</ng-template>
