.bar {
  height: 0.15em;
}

.uploadFileNameBtn-action {
  margin: auto;
  background-color: lightgrey;
  color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 20px grey;
}

.uploadFileNameBtn-action:hover {
  background-color: #bdbdbd;
}

.uploadFileNameText {
  color: grey;
  font-style: italic;
}

.formatage-action {
  margin: auto;
  color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 20px grey;
}

.formatage-action:hover {
  background-color: #811448;
}
