body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.bar {
    height: 0.15em;
}

.reedit-col {
    padding-left: 30px;
    padding-right: 30px;
}

.separation {
    clear: both;
    position: absolute;
    margin-top: 50px;
    margin-left: 66.5%;
    height: 65%;
    width: 2px;
    background: black;
}

/*Small size*/
@media only screen and (min-height: 800px) {
    .toBottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 20%;
}
