<span *ngIf="getIsMobileResolution; else mobileVersion">
  <div id="context1" class="outer">
    <div class="inner_fixed">
      <app-header (changeSize)="changeSize($event)" [fontSize]='fontSizeParam'></app-header>
    </div>

    <div class="inner_remaining">
      <app-menu class="outer" [fontSize]='fontSizeParam' [contrastedMode]="contrastedMode"
                [fontFamily]='fontFamilyParam'></app-menu>
    </div>
  </div>

  <div id="circle"></div>
<!--  <div id="circlerevert"></div>-->
  <app-link-bar [param]='false' [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-link-bar>

  <app-footer id="context2" class="toBottom" [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
              [fontFamily]='fontFamilyParam' (changeContrasted)="changeContrasted($event)"></app-footer>
</span>
<ng-template #mobileVersion>
  <div class="outer">
    <div class="inner_fixed">
      <app-header (changeSize)="changeSize($event)" [fontSize]='fontSizeParam'
                  [contrastedMode]="contrastedMode"></app-header>
    </div>
    <div class="inner_remaining">
      <div class="container-fluid m-0 p-0" style="height: 100%">
        <div class="row m-0" style="height: 50%;width: 100%;">
          <div class="col-6 p-0 pointer"
               [ngClass]="contrastedMode?'background-bleucielUrbilogContrasted':'background-bleucielUrbilog'"
               (click)="redirectTo('reforme')">
            <div class="child">
              <img src="assets/img/lois1.png" style="width: 100%;" alt="">
              <p style="color:white;" class="mt-4" tabindex="50"
                 [ngStyle]="{'font-size':fontSizeParam+10+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">
                La loi RGAA
              </p>
            </div>
          </div>
          <div class="col-6 p-0 background-bordUrbilog pointer" (click)="redirectTo('formatage')">
            <div class="child">
              <img src="assets/img/formater.png" style="width: 40%;" alt="">
              <p style="color:white;" class="mt-4"
                 [ngStyle]="{'font-size':fontSizeParam+10+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">
                Vos fichiers accessibles
              </p>
            </div>
          </div>
        </div>
        <div class="row m-0" style="height: 50%">
          <div class="col-6 p-0 pointer"
               [ngClass]="contrastedMode?'background-vertUrbilogContrasted':'background-vertUrbilog'"
               (click)="redirectTo('audit')">
            <section>
              <div class="child">
                <img src="assets/img/audit.png" style="width: 70%;" alt="">
                <p style="color:white;" class="mt-4"
                   [ngStyle]="{'font-size':fontSizeParam+10+'px'}"
                   [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">
                  Avis d'expert
                </p>
              </div>
            </section>
          </div>
          <div class="col-6 p-0 pointer"
               [ngClass]="contrastedMode?'background-orangeUrbilogContrasted':'background-orangeUrbilog'"
               (click)="redirectTo('whoweare')">
            <div class="child">
              <img src="assets/img/group.png" style="width: 55%;" alt="">
              <p style="color:white;" class="mt-4"
                 [ngStyle]="{'font-size':fontSizeParam+10+'px'}"
                 [ngClass]="fontFamilyParam?'myMyriadProBoldFont':'openDyslexicBoldFont'">
                Qui sommes-nous ?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer-responsive [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
                         (changeContrasted)="changeContrasted($event)"
                         [fontFamily]='fontFamilyParam'></app-footer-responsive>
</ng-template>
