<div id="context1" class="outer">
  <div class="inner_fixed">
    <app-header (changeSize)="changeSize($event)" [fontSize]='fontSizeParam'></app-header>
  </div>

  <div class="inner_remaining">
    <app-menu class="outer" [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-menu>
  </div>

</div>

<app-link-bar [param]='false' [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-link-bar>

<app-footer id="context2" class="toBottom" [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
            [fontFamily]='fontFamilyParam'></app-footer>
