<div class="inner_fixed">
  <div class="container-fluid" style="display: table-cell;vertical-align: middle">
    <div style="height: 9em">
      <div class="row">
        <div style="margin: auto">
          <img src="assets/img/fauteuilRoulant3.png" class="icon-menu" alt="">
          <img src="assets/img/oeil3.png" class="icon-menu" alt="">
          <img src="assets/img/tete3.png" class="icon-menu" alt="">
        </div>
      </div>
      <div class="row">
        <p style="text-align: center;margin: auto;"
           [ngStyle]="{'font-size':(fontSizeAdapted + 10)+'px' }"
           [ngClass]="fontFamily?'myMyriadProBoldFont':'openDyslexicBoldFont'">
          Découvrez les enjeux de la réforme<br>
          RGAA et devenez ACCESSIBLE
        </p>
      </div>
    </div>
  </div>
</div>
<div class="inner_remaining">
  <div class="container">
    <div class="row">
      <div style="margin-right: 1.5%"></div>
      <div class="p-5 block background-bleucielUrbilog m-r" (click)="redirectTo('reforme')">
        <img src="assets/img/lois1.png" class="icon-nav" alt="">
        <p style="color:white;text-align: center;"
           [ngStyle]="{'font-size':fontSizeAdapted+1+'px'}"
           [ngClass]="fontFamily?'myMyriadProBoldFont':'openDyslexicBoldFont'">
          La réforme RGAA
        </p>
      </div>
      <div class="p-5 block background-bordUrbilog m-r" (click)="redirectTo('formatage')">
        <img src="assets/img/formater.png" class="icon-nav" alt="">
        <p style="color:white;text-align: center;"
           [ngStyle]="{'font-size':fontSizeAdapted+1+'px'}"
           [ngClass]="fontFamily?'myMyriadProBoldFont':'openDyslexicBoldFont'">
          Formater vos fichiers
        </p>
      </div>
      <div class="p-5 block background-vertUrbilog m-r" (click)="redirectTo('audit')">
        <img src="assets/img/audit.png" class="icon-nav" alt="">
        <p style="color:white;text-align: center;"
           [ngStyle]="{'font-size':fontSizeAdapted+1+'px'}"
           [ngClass]="fontFamily?'myMyriadProBoldFont':'openDyslexicBoldFont'">
          Audit
        </p>
      </div>
      <div class="p-5 block background-orangeUrbilog" (click)="redirectTo('whoweare')">
        <img src="assets/img/group.png" class="icon-nav" alt="">
        <p style="color:white;text-align: center;"
           [ngStyle]="{'font-size':fontSizeAdapted+1+'px'}"
           [ngClass]="fontFamily?'myMyriadProBoldFont':'openDyslexicBoldFont'">
          Qui sommes-nous ?
        </p>
      </div>
      <div style="margin-right: 1.5%"></div>
    </div>
  </div>
</div>





