<span *ngIf="!getIsMobileResolution; else mobileVersion">
<div id="context1" class="outer">
  <div class="inner_fixed">
    <app-header [fontFamily]='fontFamilyParam' (changeSize)="changeSize($event)" [contrastedMode]="contrastedMode"
                [fontSize]='fontSizeParam'></app-header>
  </div>

  <div class="inner_remaining">
    <div class="container">
      <h1 class="mt-5" [ngClass]="{'myMyriadProBoldFont':fontFamilyParam,'openDyslexicBoldFont':!fontFamilyParam,'color-orangeUrbilogContrasted':contrastedMode,'color-orangeUrbilog':!contrastedMode}"
          [ngStyle]="{'font-size':fontSizeParam+20+'px'}">QUI SOMMES NOUS ?</h1>
      <hr class="bar mb-5" [ngClass]="contrastedMode?'background-orangeUrbilogContrasted':'background-orangeUrbilog'">
      <div class="row mb-3">
        <div class="col-7">
          <p class="ml-4 mr-4" [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
             [ngStyle]="{'font-size':fontSizeParam+'px'}">Depuis 1995, Urbilog développe des activités innovantes
              autour du numérique.
              Nous mettons en oeuvre des prestations de conseil et de développement innovant autour de l'accessibilité
              numérique pour tous.
              Nos valeurs ? Qualité, accessibilité, innovation, simplicité et disponibilité !
              Urbilog prouve l'enrichissement par la diversité au sein de nos équipes : mal voyants, non voyants sourds,
              malentendants, déficits moteurs et multi culturalisme...
              Nous faisons du handicap une opportunité.</p>
        </div>
        <div class="col-5 text-center">
          <img src="assets/img/urbilog.png" alt="" style="width: auto;height: 7em" class="no-select img-fluid"/>
        </div>
      </div>
      <div class="row mb-5">
        <button class="btn moreInfo pt-2 pb-2 pl-4 pr-4"
                style="width: 13em;"
                [ngClass]="{'myMyriadProFont':fontFamilyParam,'openDyslexicFont':!fontFamilyParam,'background-orangeUrbilogContrasted':contrastedMode,'background-orangeUrbilog':!contrastedMode}"
                (click)="redirectTo('https://www.urbilog.fr/')"
                [ngStyle]="{'font-size':fontSizeParam+'px'}">En savoir plus
        </button>
      </div>
    </div>
  </div>
</div>
<div id="circle"></div>
<app-link-bar [param]='false' [fontSize]='fontSizeParam' [fontFamily]='fontFamilyParam'></app-link-bar>
<app-footer id="context2" class="fixed-bottom" [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
            [fontFamily]='fontFamilyParam' (changeContrasted)="changeContrasted($event)"></app-footer>
</span>
<ng-template #mobileVersion>
  <div class="outer">
    <div class="inner_fixed">
      <app-header [fontFamily]='fontFamilyParam' (changeSize)="changeSize($event)"
                  [fontSize]='fontSizeParam' [contrastedMode]="contrastedMode"></app-header>
    </div>

    <div class="inner_remaining">
      <div class="container">
        <h1 class="mt-5" [ngClass]="{'myMyriadProBoldFont':fontFamilyParam,'openDyslexicBoldFont':!fontFamilyParam,'color-orangeUrbilogContrasted':contrastedMode,'color-orangeUrbilog':!contrastedMode}"
            [ngStyle]="{'font-size':fontSizeParam+20+'px'}">QUI SOMMES NOUS ?</h1>
        <hr class="bar mb-5" [ngClass]="contrastedMode?'background-orangeUrbilogContrasted':'background-orangeUrbilog'">
        <div class="row mb-3">
          <div class="col-12">
            <p class="ml-4" [ngClass]="fontFamilyParam?'myMyriadProFont':'openDyslexicFont'"
               [ngStyle]="{'font-size':fontSizeParam+'px'}">Depuis 1995, Urbilog développe des activités innovantes
              autour du numérique.
              Nous mettons en oeuvre des prestations de conseil et de développement innovant autour de l'accessibilité
              numérique pour tous.
              Nos valeurs ? Qualité, accessibilité, innovation, simplicité et disponibilité !
              Urbilog prouve l'enrichissement par la diversité au sein de nos équipes : mal voyants, non voyants sourds,
              malentendants, déficits moteurs et multi culturalisme...
              Nous faisons du handicap une opportunité.
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-6 offset-3 text-center">
            <img src="./assets/img/urbilog.png" alt="" style="width: auto;height: 7em" class="no-select img-fluid"/>
          </div>
        </div>
        <div class="row mb-5">
          <button class="btn moreInfo pt-2 pb-2 pl-4 pr-4"
                  style="width: 13em;"
                  [ngClass]="{'myMyriadProFont':fontFamilyParam,'openDyslexicFont':!fontFamilyParam,'background-orangeUrbilogContrasted':contrastedMode,'background-orangeUrbilog':!contrastedMode}"
                  (click)="redirectTo('https://www.urbilog.fr/')"
                  [ngStyle]="{'font-size':fontSizeParam+'px'}">En savoir plus
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer-responsive [fontSize]='fontSizeParam' (changeFamily)="changeFamily($event)"
                         [fontFamily]='fontFamilyParam' (changeContrasted)="changeContrasted($event)"></app-footer-responsive>
</ng-template>
