<div class="container-fluid py-3">
  <div class="row">
    <div style="margin: auto">
      <img src="assets/img/fauteuilRoulant3.png" class="icon-menu" alt="">
      <img src="assets/img/oeil3.png" class="icon-menu" alt="">
      <img src="assets/img/tete3.png" class="icon-menu" alt="">
    </div>
  </div>
  <div class="row">
    <p style="text-align: center;margin: auto">
      Découvrez les enjeux de la réforme<br>
      RGAA et devenez ACCESSIBLE
    </p>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col-3 p-5 block background-bleucielUrbilog">
      <img src="assets/img/lois1.png" class="icon-nav" alt="">
      <p style="color:white;text-align: center">
        La réforme RGAA
      </p>
    </div>
    <div class="col-3 p-5 block background-bordUrbilog">
      <img src="assets/img/formater.png" class="icon-nav" alt="">
      <p style="color:white;text-align: center">
        La réforme RGAA
      </p>
    </div>
    <div class="col-3 p-5 block background-vertUrbilog">
      <img src="assets/img/audit.png" class="icon-nav" alt="">
      <p style="color:white;text-align: center">
        La réforme RGAA
      </p>
    </div>
    <div class="col-3 p-5 block background-orangeUrbilog">
      <img src="assets/img/group.png" class="icon-nav" alt="">
      <p style="color:white;text-align: center">
        La réforme RGAA
      </p>
    </div>
  </div>
</div>
