.icon-menu {
  float: none;
  margin: 0 auto;
}

.block {
  width: 22%;
  box-shadow: 5px 5px 20px grey;
  cursor: pointer;
}

.m-r {
  margin-right: 3%;
}

.block:hover {
  opacity: 0.9;
}

.icon-nav {
  margin: 0 auto 3rem auto;
  display: block;
}

.inner_fixed {
  display: table-row;
}

.inner_remaining {
  display: table-cell;
}
